<!doctype html>
<html lang="pt-br" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Mini controle de frotas | Conta Azul </title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta name="description" content="Mini controle de frotas" />
  <meta name="robots" content="noindex,nofollow" />
  <meta name="googlebot" content="noindex,nofollow" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="favicon.ico">
</head>
<body ng-controller="BaseController">

  <header class="header">
    <div class="container">
      <i class='icon-logo_contaazul'></i>
    </div>
  </header>

  <!-- Status das ações / Feedback para o usuário -->
  <div id="status"  class="status bg-success"> {{statusMessage}} </div>

  <!-- Aguardar o Loading da páginda -->
  <div id="loading"  class="container loading"></div>

  <!-- Modal para ver image do carro -->
  <div ng-include src="'templates/_imageModal.html'"></div>

  <!-- Modal para adicionar carro -->
  <div ng-include src="'templates/_formModal.html'"></div>

  <!-- Tabela com os carros -->
  <div id="container" class="container hide">
    <div ng-include src="'templates/_subHeader.html'"></div>
    <div ng-include src="'templates/_carsTable.html'"></div>
    <div ng-include src="'templates/_pagination.html'"></div>
  </div>

  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
