/*
Geral
*/
body{
  background: $body;
}
form, button, input{
  outline: none;
}

.blue{
  color:$blue-lighter;
  &:hover{
    text-decoration: underline;
    cursor: pointer;
  }
}
.gray-light{
  color:$gray-light;
}

.header{
  background: $blue;
  color:$light;
  padding: 15px;
  font-size:15px;
}
.subheader{
  padding:20px 0px;
}
.padding--default{
  padding:20px;
}

.status{
  padding:10px;
  text-align: center;
  width:200px;
  position:absolute;
  top:5px;
  left:50%;
  margin-left: -100px;
  border-radius: 50px;
  display: none;
  font-size: 12px;
}

/*
Formlário de Busca customizado
*/
.custom_form{
  float:right;
  widht:300px;
  border:1px solid $gray-light ;
  border-radius: 4px;
  background: $light;
  &__input{
    border:none;
    padding:10px;
    margin:2px;
  }
}

/*
Botões
*/
.button{
  &--add{
    background: $green;
    color:$light;
    padding:10px 35px;

    &:hover{
      color:$light;
    }
  }
  &--search{
    background: $body;
    border-width:0 0 0 1px;
    padding:12px 15px;
    border-radius:0 4px 4px 0;
  }
  &__photo{
    padding:90px 0 0 20px;
    float: left;
  }
}

/*
Tabela
*/
.custom_table{
  border:1px solid $gray-light ;
  border-radius: 4px;
  color:$blue-dark;
  background: $light;
  thead tr{
    th{
      font-weight: bold;
      border-bottom-width: 1px;
      cursor: default;
      font-size:12px;
      padding: 10px 15px;

    }
    &:hover{
      background: transparent;
    }
  }
  tbody tr td{
    border-top:1px solid $gray-light ;
    padding: 15px;
  }
  tr{
    &:hover{
      background: $blue-light;
      td{
        border-top:1px solid $blue-lighter !important;
        border-bottom:1px solid $blue-lighter !important;
      }
    }
  }
}
/*
Paginação
*/
.pagination{
  border-radius: 4px;
  font-size: 0; // Para remover os espaços em branco entre os elementos
  margin:auto;
  display: table;
  a{
    background: $light;
    display: inline-block;
    padding:10px 15px;
    border:1px solid $gray-light ;
    border-width: 1px 1px 1px 0;
    text-decoration: none;
    font-size:14px;
    &.first{
      border-width: 1px 1px 1px 1px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &.last{
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    &.disabled{
      cursor:default;
      color:$gray;
    }
    &.active{
      background: $blue-light;
      border-color: $blue-lighter;
      &:hover{
        background: $blue-light;
      }
    }
    &:hover{
      background: $yellow-light;
    }
  }
}

/*
Carregar Conteúdo
*/
.loading{
  &:before{
    width: auto;
    content:"Carregando carros";
    text-align: center;
    color:$gray-light;
    margin:auto;
    padding:150px;
  }
}

/*
Upload de image
*/
.image-upload{
  background: $gray-lighter;
  border:1px solid $gray;
  width:200px;
  height:102px;
  text-align: center;
  position: relative;
  margin:0 0 10px 0;
  vertical-align: middle;
  display: table-cell; //Para centralizar a imagem no meio
  img{
    max-width:200px;
    max-height: 100px;
  }
  &__close{
    position: absolute;
    top:0;
    right:0;
    border:0;
    background: transparent;
  }
  &--empty{
    font-size:50px;
    color:$gray-light;
    margin-top:15px;
  }
}

/*
Modal com a imagem
*/
.modal-body{
  &--thumb{
    text-align: center;
    img{
      max-width: 400px;
    }
  }
}
