@font-face {
	font-family: 'contaazul';
	src:url('../fonts/contaazul.eot?si5xfh');
	src:url('../fonts/contaazul.eot?si5xfh#iefix') format('embedded-opentype'),
		url('../fonts/contaazul.ttf?si5xfh') format('truetype'),
		url('../fonts/contaazul.woff?si5xfh') format('woff'),
		url('../fonts/contaazul.svg?si5xfh#contaazul') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'contaazul';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-logo_contaazul:before {
	content: "\e80e";
}
