/*
Cores
*/
$body         : #f0f3f7;
$light        : #FFF;

//Tons de Azul
$blue         : #2788e8;
$blue-light   : #d9eafa;
$blue-lighter : #8cc9f5;
$blue-dark    : #3a5b7a;

//Tons de Cinza
$gray         : #CCC;
$gray-light   : #c8d1db;
$gray-lighter : #f1f1f1;

//Tons de Verde
$green        : #49b856;

//Tons de Amarelo
$yellow-light : #fffbed;
