<div class="row">
  <table class="table custom_table" ng-if="cars.length>0">
    <thead>
      <tr>
        <th></th>
        <th>Placa</th>
        <th>Modelo</th>
        <th>Marca</th>
        <th>Foto</th>
        <th>Combustível</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="car in pagedItems | filter:search track by $index ">
        <td><input type="checkbox" name="checkboxView" ng-click="edit(car.id);"  ></td>
        <td>{{ car.plate }}</td>
        <td>{{ car.model }}</td>
        <td>{{ car.brand }}</td>
        <td >
          <span ng-hide="car.image">Sem Foto</span>
          <span ng-show="car.image" class="blue" ng-click="openImageModal(car.image)">Imagem</span>
        </td>
        <td>{{ car.fuel }}</td>
        <td>{{ car.value | real }}</td>
      </tr>
    </tbody>
    <tfoot  ng-show="(cars | filter:search).length == 0">
      <tr class="warning">
        <td colspan="7">   Nenhum resultado para <strong>{{ search }}</strong> </td>
      </tr>
    </tfoot>
  </table>
  <p class="padding--default bg-warning" ng-if="cars.length==0">
    Nenhum encontrado
  </p>
</div>
