<div class="modal fade" id="carModal" role="dialog" modal-show="showDialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ modalTitle }}</h4>
      </div>
      <div class="modal-body">
        <form name="$parent.carForm" novalidate>
          <input type="hidden" ng-model="newCar.id" />
          <div class="form-group" >
            <div class="pull-left">
              <label for="image">Foto</label>
              <input id="image" type="file"  ng-model="newCar.image" class="hide">
              <div class="image-upload">
                <img ng-src="{{newCar.image}}" ng-hide="(newCar.image==null || newCar.image=='')" />
                <div class="image-upload--empty" ng-show="(newCar.image==null || newCar.image=='')" ><i class="glyphicon glyphicon-picture"></i></div>
              </div>
              <br />
            </div>
            <div class="button__photo">
              <button ng-click="getPictureFromDisk()" class="btn btn-default" ng-show="(newCar.image==null || newCar.image=='')">Adicionar Foto</button>
              <button ng-click="removeImage()" class="btn btn-warning" ng-hide="(newCar.image==null || newCar.image=='')">Remover Foto</button>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="form-group has-error has-feedback" show-errors>
            <label for="inputPlate">Placa*</label>
            <input type="text" name="inputPlate" capitalize required class="form-control" id="inputPlate" placeholder="Placa" ng-model="newCar.plate" maxlength="8">
          </div>
          <div class="form-group" show-errors>
            <label for="inputBrand">Marca*</label>
            <select name="inputBrand" required class="form-control" id="inputBrand"  ng-model="newCar.brand" ng-change="getModels( newCar.brand )" >
              <option value="">
                Selecione uma marca
              </option>
              <optgroup label="Mais Populares">
                <option value="{{brand.N}}" ng-repeat="brand in carBrands.Principal track by brand.N" >
                  {{ brand.N }}
                </option>
              </optgroup>
              <optgroup label="Todas">
                <option value="{{brand.N}}" ng-repeat="brand in carBrands.Common track by brand.N" >
                  {{ brand.N }}
                </option>
              </optgroup>
            </select>
          </div>
          <div class="form-group" show-errors>
            <label for="inputModel">Modelo*</label>
            <select name="inputModel" required class="form-control" id="inputModel"  ng-model="newCar.model" >
              <option value="" ng-if="loadingModels">
                Carregando
              </option>
              <option value="">
                Selecione um modelo
              </option>
              <option value="{{model.N}}" ng-repeat="model in carModels track by model.N " ng-selected="model.N == newCar.model" >
                {{ model.N }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="inputFuel">Combustível</label>
            <select class="form-control" name="inputFuel" id="inputFuel" placeholder="Combustível" ng-model="newCar.fuel">
              <option>Gasolina</option>
              <option>Álcool</option>
              <option>Flex</option>
            </select>
          </div>
          <div class="form-group">
            <label for="inputValue">Valor</label>
            <input type="text" name="inputValue" real class="form-control" id="inputValue" placeholder="Valor" ng-model="newCar.value">
          </div>
          <span class="small gray-light">Os campo com (*) são obrigatórios</span>
        </form>
      </div>
      <div class="modal-footer">
        <div ng-if="updateVisibility">
          <button type="submit" ng-click="save()" class="btn btn-success pull-right"><i class="glyphicon glyphicon-repeat"></i>  Atualizar </button>
          <button  type="submit" ng-click="delete(newCar.id)" class="btn btn-danger pull-left"><i class="glyphicon glyphicon-trash"></i> Excluir</button>
        </div>
        <div ng-if="!updateVisibility">
          <button type="submit" ng-click="$parent.save()" class="btn btn-success pull-right"><i class="glyphicon glyphicon-plus"></i>  Adicionar </button>
        </div>
      </div>
    </div>
  </div>
</div>
