<div class="row" ng-if="cars.length > itemsPerPage" ng-hide="search != ''" >
  <div class="pagination">
    <a  class="first" ng-class="prevPageDisabled()" href ng-click="prevPage()">«</a>
    <a ng-repeat="n in range()" ng-click="setPage(n)" ng-class="{active: n == currentPage}" href="#">{{n+1}}</a>
    <a class="last" ng-class="nextPageDisabled()" href ng-click="nextPage()">»</a>
  </div>
</div>
