<div class="row subheader">
  <div class="pull-left">
    <button type="button" class="btn button--add" ng-click="create()" >Novo Carro</button>
  </div>
  <div class="custom_form">
    <form>
      <input type="text" class="custom_form__input" ng-model="$parent.search" placeholder="Pesquisar" maxlength="20">
      <button type="button" class="button--search"><i class="glyphicon glyphicon-search"></i></button>
    </form>
  </div>
</div>
